<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MATRIP - {{ trip.Location.name }} 여행</title>

    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/list-groups.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jumbotron.css">
    <link rel="stylesheet" href="/css/public.css">
</head>

<body>
    
    <main>
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-2">MATRIP</span>
                </a>
            </header>
    
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 rounded-3">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <div class="list-group w-auto mytrips">
                            <div class="row justify-content-between">
                                <span class="col-9 fs-3">{{ trip.Location.name }} 여행</span>
                                {% if trip.UserId === user.id %}
                                <button class="col btn btn-primary btn-md" type="submit">편집</button>
                                {% endif %}
                            </div>

                            {% for date in dates %}
                            <div class="fs-3 mt-4">{{ date }} <hr class="mt-1 mb-1"></div>

                                {% for tripDetail in tripDetails %}
                                    
                                    {% if tripDetail.date.substring(tripDetail.date.lastIndexOf('-')) === date.substring(date.lastIndexOf('-')) %}
                                    <a href="/spotDetail/{{ tripDetail.SpotId }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                        <input type="number" class="number-input fs-5 rounded-3 border" name="number" value="{{ tripDetail.number }}" disabled>
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <div class="align-self-center">
                                                <h4 class="mb-0">{{ tripDetail.Spot.name }}</h4>
                                                <p class="mb-0 opacity-75 type">{{ '맛집' if tripDetail.Spot.type else '관광 명소' }}</p>
                                            </div>
                                        </div>
                                    </a>
                                    {% endif %}

                                {% endfor %}
                                <a href="/spot/select/{{ trip.id }}/{{ trip.LocationId }}/{{ date }}" class="mt-2">
                                    <button class="btn btn-outline-primary btn-md w-100">장소 추가</button>
                                </a>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    
            <footer class="pt-3 mt-4 text-muted border-top">
                &copy; 2022 sehyeonn
            </footer>
        </div>
    </main>

    <script src="/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    </script>
</body>

</html>