html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mytrips,
.spots {
    margin: 0 auto;
    max-width: 600px;
}

.locations {
    margin: 0 auto;
    max-width: 700px;
}

.location-search {
    margin: 0 auto;
    max-width: 700px;
}

.type-select {
    padding-left: 24px;
    padding-right: 24px;
}