html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.background-img {
    background-image: url("https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
}

.mytrips,
.spots,
.othersTrip {
    margin: 0 auto;
    max-width: 600px;
}

.locations {
    margin: 0 auto;
    max-width: 700px;
}

.location-search {
    margin: 0 auto;
    max-width: 700px;
}

.type-select {
    padding-left: 24px;
    padding-right: 24px;
}

.number-input {
    text-align: right;
    max-width: 45px;
    max-height: 45px;
}

img.mySlides {
    transition: 0.5s;
}

img.location-img {
    max-height: 650px;
}